@model FleetManagementServiceCore.BusinessModels.Fleet

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Fleet</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row mt-2" style="margin-top:50px;">
                <div class="d-grid col-md-6">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div class="d-grid col-md-6">
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
